In [7]:
import pandas as pd
import os

In [10]:
file_list = [x for x in os.listdir(os.getcwd()) if '.csv' in x]
file_list

['KAKAO_luxury.csv',
 'KAKAO_touched.csv',
 'KAKAO_baby.csv',
 'KAKAO_funny.csv',
 'KAKAO_samll_gift.csv',
 'KAKAO_small_luxury.csv',
 'KAKAO_birthday.csv',
 'KAKAO_health.csv']

In [11]:
for file in file_list:
    df = pd.read_csv(f'./{file}', index_col = 0)
    display(df.head())
    print(df.shape)

                                                name       price    type
0                                  í‹°íŒŒë‹ˆ T ìŠ¤ë§ˆì¼ íœë˜íŠ¸(ìŠ¤ëª°)  1,450,000ì›  luxury
1  [ì¹œêµ¬ë§ºê³  3%ì ë¦½] [ë³¸ì‚¬ì •í’ˆ/ì‡¼í•‘ë°±ì¦ì •] Dazzling Swan í•‘í¬ìŠ¤ì™„ ë„¤í¬...    155,000ì›  luxury
2                       ë¦¬í„´ íˆ¬ í‹°íŒŒë‹ˆ í‹°íŒŒë‹ˆ ë¸”ë£¨ ë”ë¸” í•˜íŠ¸ íƒœê·¸ íœë˜íŠ¸    385,000ì›  luxury
3  [ì¹œêµ¬ë§ºê³  3%ì ë¦½] [ë³¸ì‚¬ì •í’ˆ/ì‡¼í•‘ë°±ì¦ì •] Ginger ë¡œì¦ˆê³¨ë“œ í™”ì´íŠ¸ ë±…ê¸€ (5...    155,000ì›  luxury
4                 ë¦¬í„´ íˆ¬ í‹°íŒŒë‹ˆ í‹°íŒŒë‹ˆ ë¸”ë£¨ ë”ë¸” í•˜íŠ¸ íƒœê·¸ ë‹¤ì´ì•„ëª¬ë“œ íœë˜íŠ¸    580,000ì›  luxury

(237, 3)

                               name    price     type
0          ë¦¬í‹€í¼í”¼í´ëŸ½ í•«íŒ©&íŒŒìš°ì¹˜ ì„¸íŠ¸_ë¼ì´ì–¸/ì–´í”¼ì¹˜  29,000ì›  touched
1               ë¦¬í‹€í¼í”¼í´ëŸ½ ì–‘í„¸ë¶€ì¸ _ë¼ì´ì–¸/ì–´í”¼ì¹˜  25,000ì›  touched
2                   ê¿€ì ì¹œêµ¬_ê³ ìŠ´ë„ì¹˜ ë¦¬í‹€ë¼ì´ì–¸  42,000ì›  touched
3  "ê³ í¥ ìœ ìë¥¼ ì„ ë¬¼í•©ë‹ˆë‹¤" ìì„ ê¿€ìœ ìì°¨ 580g x 2ë³‘  13,900ì›  touched
4        ì˜¤ì„¤ë¡ ì˜¤~ë•¡í í‹°ë°•ìŠ¤ 6ì¢… ì„ ë¬¼ì„¸íŠ¸(ì´30ì…)  22,000ì›  touched

(196, 3)

                                                name    price  type
0                       í‚¤ì¦ˆ ë² ì´ë¹„ ê·€ë‹¬ì´ìº¡ ì•„ë™ ëª¨ì NK8BCF502U  49,900ì›  baby
1  "ë°œì´ ë”°ëœ»í•œ í„¸ì‹ ë°œ" ì¿ ë¡œë¯¸ ë°©í•œì‹¤ë‚´í™” [í‚¤ë¦¬] ê°€ë²¼ìš´ í„¸ì‹¤ë‚´í™” 180~250 m...  14,900ì›  baby
2                    [ì„¸íŠ¸] íƒ€ìš” ë¡± ìºë¦¬ì–´ì¹´ + ê¼¬ë§ˆë²„ìŠ¤ ì¹œêµ¬ë“¤ ì„¸íŠ¸ 6ì¢…  34,900ì›  baby
3                             ë³„ì˜ ì—¬ì‹  ì‹œí¬ë¦¿ ì¥¬ì¥¬ ë‚˜ë§Œì˜ ë§¤ì§ìºë¦¬ì–´  37,900ì›  baby
4                          22FW ë³´ì•„ ì–‘ë©´ ë‹ˆíŠ¸ ë¨¸í”ŒëŸ¬ (3ì¢… íƒ1)  37,050ì›  baby

(97, 3)

                                                name    price   type
0                                          ëƒ¥ëƒ¥ ë¼ì´ì–¸ ì¸í˜•  29,000ì›  funny
1          "ë”±! í•œì”ë§Œ í•´ìš”" ì•ŒëŸ½í•˜ìš°ìŠ¤ ëŒ€í˜•ì†Œì£¼ì” í•œë°©ìš¸ì” 2P (+ì˜¤ê´‘ì—½ì„œ1ì¥)   9,800ì›  funny
2                                   ê¼¬ë¦¬ê°€ ì›€ì§ì´ëŠ” ì¶˜ì‹ì´ í•„ë¡œìš°  29,000ì›  funny
3                                   ëŒ€ì¶© ë§Œë“  ì¶˜ì‹ì¸ë°ìš” ë¡±íŒ”ì¸í˜•  20,000ì›  funny
4  "ì“¸ëª¨ì—†ëŠ” ì„ ë¬¼" ì›€ì§ì´ëŠ” ë©•ì‹œì½” ì„ ì¸ì¥ (+ë…¹ìŒê¸°ëŠ¥, ë…¸ë˜) ì¶¤ì¶”ëŠ” ì¸í˜• ìƒì¼ì„ ë¬¼...  19,800ì›  funny

(278, 3)

                                                name    price        type
0                     "ë‹¬ì½¤í•œ ì„ ë¬¼" í—ˆì‰¬ ì´ˆì½œë¦¿ì¹© ì¿ í‚¤ 456g / ëŒ€í˜•í†µ   9,900ì›  samll_gift
1     'ë„¤ì»·ì•¨ë²”ì¦ì •' ê·€ì—¬ì›€ì´ 2ë°° [ë§ˆì´ ë²„ë”” or ì ¤ë¦¬ ë² ì–´ ìœ ë¦¬ì»µ 2p ì„ ë¬¼ ì„¸íŠ¸]  14,900ì›  samll_gift
2  [ìƒì¼ì„ ë¬¼ì¶”ì²œ] [íƒ„ìƒì„&ë³„ìë¦¬] "ë‹¹ì‹ ì˜ í•˜ë£¨ê°€ ëŠ˜ ë³„ì²˜ëŸ¼ ë¹›ë‚˜ê¸¸" íƒ„ìƒì„&ë³„ìë¦¬...  11,900ì›  samll_gift
3           "ë‹¹ì¶©ì „ ì„ ë¬¼" "ë„ˆì—ê²ŒëŠ” ë‚´ê°€ ìµœê³ ì˜ ë³´ì•½" ì´ˆì½œë¦¿ ê³¼ì íŒ¨í‚¤ì§€(í†¡ë³„)  19,900ì›  samll_gift
4  [í¬ë¦¬ìŠ¤ë§ˆìŠ¤] ì˜¤íŠ¸ë°€í¬ë¡œ ë§Œë“  ì¹´ì¹´ì˜¬ë¼ ìƒì´ˆì½œë¦¿ 5ì¢… & ìœ ê¸°ë†ìš°ìœ ë¡œ ë§Œë“  ê¼¬ë¥´ì§€ì—˜...  16,900ì›  samll_gift

(294, 3)

                                                name    price          type
0        "í¸ì•ˆí•œ íœ´ì‹" [ë¦¬ì¶”ì–¼ ì„ ë¬¼ì„¸íŠ¸] ìƒŒë‹¬ìš°ë“œ ê´„ì‚¬ & ë¹„ê±´ ì˜¤ì¼ 2ì¢… (í†¡ë³„)  29,000ì›  small_luxury
1                      ë¡ì‹œë•… ë² ìŠ¤íŠ¸ í•¸ë“œ í¬ë¦¼ & ë¦½ ì„¸íŠ¸ (9ì¢… íƒ1)*  29,000ì›  small_luxury
2  [ì„ ë¬¼í•˜ê¸° ë‹¨ë…] ë‹¬ë°” 'ë¹„ê±´' í˜ì´ìŠ¤&í•¸ë“œ í•´í”¼ë²„ìŠ¤ë°ì´ ê¸°í”„íŠ¸ ì„¸íŠ¸(ë¯¸ìŠ¤íŠ¸ì„¸ëŸ¼+í•¸...  26,900ì›  small_luxury
3                  [ë‹¨ë…/í•¸ë“œíƒ€ì˜¬ì¦ì •] ë¼ë²¤ë” ë°”ë””ì›Œì‹œ & ë°”ë””ë¡œì…˜ 2ì¢… ì„¸íŠ¸  38,000ì›  small_luxury
4                                 ë””í”„ë¡œì íŠ¸ ì°¨ëŸ‰ìš©ë°©í–¥ì œ_ë¸”ë™ë¼ì´ì–¸  49,000ì›  small_luxury

(189, 3)

                             name     price      type
0  WON+WON ìŠ¤í”¼ë¦¿ SET - ì›ì†Œì£¼ ìŠ¤í”¼ë¦¿(2ea)   29,800ì›  birthday
1                 [ê°ì¸/ì„ ë¬¼í¬ì¥] ë¦½ ê¸€ë¡œìš°   47,000ì›  birthday
2    "ì œë‹ˆPICK" [ì„ ë¬¼í¬ì¥] ë°”ë””ì›Œì‹œ (4ì¢… íƒ1)   33,000ì›  birthday
3    ë†í˜‘ì•ˆì‹¬í•œìš° ì†Œí•œë§ˆë¦¬ í•œìš°ì„ ë¬¼ì„¸íŠ¸ 1ë“±ê¸‰ 1.4kg  119,000ì›  birthday
4         [NEWì„¼íŠ¸/ì„ ë¬¼í¬ì¥] ë°”ë”” í¬ë¦¼ 50ML   43,000ì›  birthday

(183, 3)

                                                name    price    type
0     ë ˆëª¨ë‚˜í”„ë Œì¦ˆ ì¹´ì¹´ì˜¤ ë ˆëª¨ë‚˜ì‚° í•˜íŠ¸ìº” (2g x 70í¬)/KF94 ë§ˆìŠ¤í¬&ì‡¼í•‘ë°± ì¦ì •  16,900ì›  health
1           [ì„ ë¬¼í¬ì¥]ë¯¸ì£¼Pick ë°œë€ìŠ¤í• ê¸°í”„íŠ¸ì„¸íŠ¸ - ì˜ë£Œìš© ì••ë°•ìŠ¤íƒ€í‚¹ (í†¡ë³„)  29,800ì›  health
2  "ğŸë§ˆìŒì˜ ì„ ë¬¼ğŸ" í˜ë‚´ë¼ í™ì‚¼ì • For You 10ml x 30í¬ +ë¦¬ë·°ì´ë²¤íŠ¸ (...  15,900ì›  health
3  "í•˜ë£¨ í•œí¬ ê±´ê°•" ë°°ë¥¼ í’ˆì€ ë„ë¼ì§€ìŠ¤í‹± 30í¬x12g êµ­ì‚° ë„ë¼ì§€,ë°° í•¨ìœ ! ë„ë¼ì§€ë°°ì¦™  18,900ì›  health
4          í‘¸ë“œì¥ í”„ë¦¬ë¯¸ì—„ êµ¬ì´ ì„ ë¬¼ì„¸íŠ¸ 1.15kg(ë¶€ì±„ì‚´,ì‚´ì¹˜ì‚´,í† ì‹œì‚´,ì²™ì•„ì´ë¡¤)  49,900ì›  health

(200, 3)

In [13]:
df['name'].iloc[2]

'"ğŸë§ˆìŒì˜ ì„ ë¬¼ğŸ" í˜ë‚´ë¼ í™ì‚¼ì • For You 10ml x 30í¬ +ë¦¬ë·°ì´ë²¤íŠ¸ (ë¦¬ë‰´ì–¼ver)'